/* .entryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  /* estilos header y menu*/
/*.header-dashboard{
    background: blue;
    display: inline-flex;
  }
  .note-grid{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .note-content{
    padding: 20px;
  } */

  