.LoginView {
  
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('https://img.freepik.com/premium-photo/working-with-laptop-computer-hot-coffee-cactus-copy-space-pink-table-background_34933-96.jpg');
  background-image:  linear-gradient(rgba(235, 183, 202, 0.2),rgba(235, 142, 176, 0.9)), url('https://img.freepik.com/premium-photo/working-with-laptop-computer-hot-coffee-cactus-copy-space-pink-table-background_34933-96.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.provider {
  border: none;
  width: 250px;
  padding: 25px 0;
  color: white;
  background-color:#db8ba8;
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition:ease-in 0.2s ;
  font-size: 20px;
  font-weight: bold;

}
.loginPopup {
  margin: 0 auto;
  height: 80vh;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background: #eba293;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.provider img {
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.provider:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}