.profilePictureContainer{
    padding: 10px 0;
    align-items: center;
    gap: 20px;
}
.profilePictureContainer img {
    border-radius: 50px;
    width: 200px;
    height: 200px;
    background-color: azure;
    text-align: center;
    

}
.fileImput{
    display: none;
}
.conprofile{
    background-color: turquoise;
}
