body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main-container{
  width:500px;
  margin: 0 auto;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
 
.btn {
  font-weight: bold;
  font-size: 15px;
  border: none;
  background-color: #f38bb1;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin: 10px 0;
  min-width: 200px;
  box-shadow:  rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


input[type="text"].input {
  border: solid 1px #ccc;
  border-radius: 3px;
  padding: 8px 10px;
}

 label {
  padding-top: 5px;
}
.loginLeft, .loginRigth{
  width: 50%;
  height: 100vh;

}
/* a{ */
  /* color: rgb(231, 128, 214);
  font-weight: bolder;
  text-decoration: none;
  width: 100px;
  height: 25px;
  text-align:unset;
  margin: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
/* } */
.loginRigth{
  background: white;
  border-radius: 30px 0 0 30px ;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;

}

@media (max-width: 600px){
  .loginLeft{
    height: 0;
  }
  .loginRigth{
    width: 100%;
    height: 100vh;
  
  }
  .loginRigth{
  
    background: none;

  }
}

/* estilos header y menu*/
.dashboard-content{
  display: flex;
  height: 100vh;
}

.header-dashboard{
  background:white;
  padding: 20px ;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.header-dashboard nav {
  display: flex;
  justify-content:space-between;
  flex-direction: column;

}

.header-dashboard nav a{
  margin-right: 30px;
  display: block;
}

.notes-container{
  width: 100%;
}

.note-grid{
  padding: 40px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.note-content{
  padding: 10px;
  border:1px solid #ccc;
  border-radius: 8px;
  background:white;
}

.note-content:nth-child(1){
  background-color:rgb(219, 132, 215);
}
.note-content:nth-child(1) .input{
  border: 0px;
  background-color: rgb(238, 232, 232);
  width: 92%;
  margin-bottom: 10px;
}

.note-content:nth-child(1) .input:focus{
  border: none;
  outline: none;
}

.note-content:nth-child(1) textarea{
  border: 0px;
  background-color:rgb(238, 232, 232);
  width: 92%;
  padding: 10px;
  resize: none;
}

.note-content:nth-child(1) textarea:focus{
  border: none;
  outline: none;
}

.note-content:nth-child(1) .btn{
  width: 100%;
  cursor: pointer;
}

.note-content .button-content.edit{
  border:none;
  background-color: rgb(65, 166, 206);
  border-radius: 3px;
  margin-right: 6px;
}

.note-content .button-content.delete{
  border:none;
  background-color: rgb(241, 9, 106);
  border-radius: 3px;
  margin-right: 6px;
  
}
.button-content.delete:hover{
  background-color: rgb(65, 166, 206);
}

.note-title{
  font-size: 18px;
  font-weight: 600;
  padding: 0 0 15px 0px;
  border-bottom: 1px solid #ccc;
}
.footer-note{
  font-size: 18px;
  font-weight: 600;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}
.note-description{
  padding-top: 15px;
}

.material-icons.edit{
  border: 0;
  font-size: 14px;
  color: white;
}

.material-icons.delete{
  border: 0;
  font-size: 18px;
  color: white;
}
.logo{
  height: 30px;
  width: 100px;
}

.main-containe{
  
  height: 100%;
  width: 100%;
  /* text-align: center;
  justify-content: center;
   */



}
.conprofile{
 
  line-height:inherit;
  margin: 150px;

}


.spinner-loading{
  position: absolute;
  display: flex;
  color: #333;
  width: 100%;
  height: 100%;
  text-align: center;
  font-weight: 500;
  justify-content: center;
  align-items: center;

}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgb(216, 111, 146);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: rgb(216, 111, 146);;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
